# Basic stuff
nano
default-libmysqlclient-dev
build-essential
ca-certificates
git
curl
wget
gnupg
libpcre3-dev
gettext

# Python build requirements
zlib1g-dev
libncurses5-dev
libgdbm-dev
libnss3-dev
libssl-dev
libsqlite3-dev
libreadline-dev
libffi-dev
libbz2-dev